body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

ul.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.navbar-nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header {
  padding: 1em;
  background-color: #aaa;
  padding-bottom: 3.5em;
  margin-bottom: 1em;
  text-align: center;
  clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
